/* .upper {
    width: 100%;
    background-image: url("https://picjj.com/images/2024/05/09/pzhp7.png");
    background-size: cover; 
    height: 200px; 
    width: 100%; 
  }
  
  .about1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    position:absolute;
    top: 120px;
    left: 250px;
    font-size: xx-large;
    animation: scaleAnimation 1.5s ease forwards; 
    animation-delay: 1s;
  } */

  .bigtxt{
    font-weight: bolder;
    font-size: 40px;

}
.Event1{
  padding-left: 100px; 
  display: flex;
  flex-direction: column; 
  background-color: rgba(79, 79, 212, 0.623) ;
  color: white;
  width: 100vw;
  height: 40vh;
  justify-content: center;

}
.bgport{
    background-image: url(https://picjj.com/images/2024/05/14/7NksT.webp);
    height: fit-content;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 40vh;
    display: flex;
    background-position: center;
    align-items: center;
    background-size: cover;
}
  @keyframes scaleAnimation {
    from {
        transform: scale(0.5);
      }
      to {
        transform: scale(1); 
      }
  }

   /* About 1 ended */
 
  /* About 2 is statred  */
   

 .about2 {
  margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 4rem;
    position: relative; /* Added for positioning */
  }
  
  .containavout2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    width: 60vw;
  }
  
  .h1 {
    color: rgb(2, 10, 100);
      animation: slideInLeft 1.5s ease forwards; 
    animation-delay: 1s;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 40px;
  }
  
  .p {
    margin-left: 40px;
    color: rgb(0, 1, 11);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: slideInBottom 1.5s ease forwards; 
    animation-delay: 1.5s; 
  }
  
  .img {
    width: 50vh;
    margin-right: 40px;
    margin-top: 30px;
    transform: scale(0.5); 
    animation: scaleAnimation 1.5s ease forwards;
    animation-delay: 1s; 
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInBottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes scaleAnimation {
    from {
      transform: scale(-0.5);
    }
    to {
      transform: scale(1);
  }
}


 /* About 2 ended */
 
  /* About 3 is statred  */
  .about3 {
   
    width: 90%;
    margin-left: 4rem;
  }
  

  .h2 {
    margin-top: 5vh;
    color: rgb(2, 10, 100);
    text-align: left;
    margin-left: 40px;
    animation: slideInLeft 1.5s ease forwards;
    animation-delay: 1s;
      /* font-weight: bolder; */
    font-size:medium;
  }

  .span {
    color: rgb(20, 195, 218);
  }
  
  .p2 {
    color: rgb(0, 1, 11);
    text-align: left;
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: slideInBottom 1.5s ease forwards;
    animation-delay: 1.5s;
  }
  

  /* About 3 ended */
 
  /* About 4 is statred  */

  .about4 {
   
    width: 90%;
    margin-left: 8%;
  }
  
  .collage {
    display: flex;
    
   justify-content: space-evenly;
    
  }
  
  .team {
    margin-top: 50px;
    color: rgb(4, 4, 120);
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
  }
  
  .collageitem {
    margin-top: 10px;
    width: 80%;
    position: relative;
    
  }
  
  .collageitemimg {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 150px 150px 0px 0px; 
  }

  
  .teamsocial{
    display: flex;
    justify-content: space-around;
    align-items: center;
     gap: 20px;
  }

  .mail{
    margin-top: 0px;
  }

  .teaminfo {
    
    width: 30vh;
    height: 30vh;
    background: rgba(140, 151, 238, 0.8); 
    border-radius: 150px 150px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    opacity: 0;
   
   
  }
  @keyframes slideInnBottom {
    from {
      transform: translateY(20%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .collageitem:hover .teaminfo {
    opacity: 1;
      animation: slideInnBottom 1.5s ease forwards;  
     animation-delay: 0s;   
  }
   /* About 4 ended */
 
  /* About 5 is statred  */
  .about5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(181, 180, 180);
  }
  
  
  /* media queary */
  @media only screen and (max-width: 768px) {
    .about1 {
      left: 50%;
      transform: translateX(-50%); 
    }
  
    .about2 .h1,
    .about2 .p {
      margin-left: 0; 
      text-align: center; 
    }
  
    .about2 .img {
      margin-right: 0; 
    }
  
    .about3 .h2,
    .about3 .p2 {
      margin-left: 0; 
      text-align: center; 
    }
  
    .about4 {
      width: 100%; 
      margin-left: 0;
      margin-right: 0; 
      
    }
  }